.list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.input-box {
  width: 100%;
  position: relative;
}

.list-item-input {
  width: 100%;
  border: none;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.error {
  border-bottom: 1px solid red;
}

.check-delete-box {
  display: flex;
  gap: 3rem;
}

.list-item-input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.error:focus {
  border-bottom: 1px solid red;
}

.error-box {
  display: flex;
  position: absolute;
  right: 0;
}

.error-message {
  color: red;
}

.text-blot {
  text-decoration: line-through;
}
